body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.modify{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    font-size: larger;
}
.half-width img{
    width: 70%;
}
.link_button{
    text-decoration: none;
    border: 5px solid yellowgreen;
    border-radius: 10%;
    color: whitesmoke;
    font-weight: 700;
    background-color: greenyellow;
    padding: 10px 40px;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}